table {
    width: 100%;
    margin: 25px 0;
}
td{
    max-width: 300px;
}
.mat-elevation-z8{
    margin-top: 10px;
}
#create-btn{
    margin-top: 5px;
}
#search-btns{
    float: right;
}
.actions-col>button{
    margin-right: 5px;
}
.actions-col{
    width: 230px;
}
.mat-form-field.filter-field{
    margin: 10px 15px;
    width: 90%;
}
.mat-drawer-container{
    height: 100%;
}