<h1 mat-dialog-title>{{data.name}}</h1>
<div mat-dialog-content>
  <p><strong>Symbol:</strong>{{data.symbol}}</p>
  <p><strong>Industry:</strong>{{data.industry}}</p>
  <p><strong>Country:</strong>{{data.country}}</p>
  <p><strong>IPO Year:</strong>{{data.ipoYear}}</p>
  <p><strong>Market Cap:</strong>{{data.marketCap}}</p>
  <p><strong>Sector:</strong>{{data.sector}}</p>
  <p><strong>Volume:</strong>{{data.volume}}</p>
  <p><strong>Net Change:</strong>{{data.netChange}}</p>
  <p><strong>Net Change Percent:</strong>{{data.netChangePercent}}</p>
  <p><strong>Last Price:</strong>{{data.lastPrice}}</p>
  <p><strong>Created At:</strong>{{data.createdAt|date}}</p>
  <p><strong>Updated At:</strong>{{data.updatedAt|date}}</p>
</div>